body {
    font-family: "source-code-pro",sans-serif !important;
    background: #2B2B2B !important;
    font-weight: 300 !important;
    font-size: 14px !important;
    color: #FFF !important;
    -webkit-font-smoothing: antialiased !important;
}

a {
	color: #fff !important;
	text-decoration: none;
}

#scrollUp {
	bottom: 30px;
	right: 20px;
	height: 38px;  /* Height of image */
	width: 38px; /* Width of image */
	background: url(../images/top.png) no-repeat;
	position: fixed;
}

#scrollUp {
	  -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
    transition: color .4s ease-in-out;
}

@media (max-width: 500px) {
  #scrollUp{
    bottom: 60px;
	right: 20px;
	height: 38px;  /* Height of image */
	width: 38px; /* Width of image */
	background: url(../images/top.png) no-repeat;
  }
}
/* Header Style */

.main-header {
	border-bottom: 0.075em solid #fff;
	position: fixed;
	width: 100%;
	background: #2B2B2B;
	z-index: 20000;
	padding-top: 7px;
	padding-bottom: 7px;
}

.logo {
	padding-left: 110px;
}

.tagline {
font-family: "source-code-pro",sans-serif !important;
/* background: #2B2B2B !important; */
font-weight: 400 !important;
font-size: 11px !important;
color: #FFF !important;
-webkit-font-smoothing: antialiased !important;
padding-left: 127px;
text-transform: uppercase;
}

.about-teddy-new {
	padding-top: 80px;
}

/* jslettering header */
.char1 {
-webkit-transform: scale(1) skewY(-16deg) !important;
/* background: #11A8A2; */
font-size: 46px !important;
}

.char2 {
	-webkit-transform: scale(1) skewY(30deg);
	/*background: #0A9E98;*/
	/*background: #e24b3b url('http://subtlepatterns.com/patterns/green_dust_scratch.png') center top !important; */
	font-size: 46px !important;
}

.char3 {
-webkit-transform: scale(1) skewY(-15deg) !important;
font-size: 46px !important;
/*background: #11A8A2;*/
/*background: #e24b3b url('http://subtlepatterns.com/patterns/green_dust_scratch.png') center top !important; */
}

.char4 {
	-webkit-transform: scale(1) skewY(15deg);
	/*background: #0A9E98;*/
	/*background: #e24b3b url('http://subtlepatterns.com/patterns/green_dust_scratch.png') center top !important; */
	font-size: 46px !important;
}

.char5{
-webkit-transform: scale(1) skewY(-29deg) !important;
font-size: 46px !important;
/*background: #11A8A2;*/
/*background: #e24b3b url('http://subtlepatterns.com/patterns/green_dust_scratch.png') center top !important; */
}

.char6 {
	-webkit-transform: scale(1) skewY(15deg);
	/*background: #0A9E98;*/
	/*background: #e24b3b url('http://subtlepatterns.com/patterns/green_dust_scratch.png') center top !important; */
	font-size: 46px !important;
}

.char7 {
-webkit-transform: scale(1) skewY(-29deg) !important;
font-size: 46px !important;
/*background: #11A8A2;*/
/*background: #e24b3b url('http://subtlepatterns.com/patterns/green_dust_scratch.png') center top !important; */
}

.char8 {
	-webkit-transform: scale(1) skewY(13deg);
	/*background: #0A9E98;*/
	/*background: #e24b3b url('http://subtlepatterns.com/patterns/green_dust_scratch.png') center top !important; */
	font-size: 46px !important;
}

.char9{ 
-webkit-transform: scale(1) skewY(-15deg) !important;
font-size: 46px !important;
/*background: #11A8A2;*/
/*background: #e24b3b url('http://subtlepatterns.com/patterns/green_dust_scratch.png') center top !important; */
}

.char10{
	-webkit-transform: scale(1) skewY(29deg);
	/*background: #0A9E98;*/
	/*background: #e24b3b url('http://subtlepatterns.com/patterns/green_dust_scratch.png') center top !important; */
	font-size: 46px !important;
}

.char11{
-webkit-transform: scale(1) skewY(-16deg) !important;
font-size: 45px !important;
/*background: #11A8A2;*/
/*background: #e24b3b url('http://subtlepatterns.com/patterns/green_dust_scratch.png') center top !important; */
}

.char12{
	-webkit-transform: scale(1) skewY(15deg);
	/*background: #0A9E98;*/
	/*background: #e24b3b url('http://subtlepatterns.com/patterns/green_dust_scratch.png') center top !important; */
	font-size: 46px !important;
}

.char13{
-webkit-transform: scale(1) skewY(-13deg) !important;
font-size: 46px !important;
/*background: #11A8A2;*/
/*background: #e24b3b url('http://subtlepatterns.com/patterns/green_dust_scratch.png') center top !important; */
} 

.char14{
	-webkit-transform: scale(1) skewY(13deg);
	/*background: #0A9E98;*/
	/*background: #e24b3b url('http://subtlepatterns.com/patterns/green_dust_scratch.png') center top !important; */
	font-size: 46px !important;
}

.char15{
-webkit-transform: scale(1) skewY(-15deg) !important;
font-size: 46px !important;
/*background: #11A8A2;*/
/*background: #e24b3b url('http://subtlepatterns.com/patterns/green_dust_scratch.png') center top !important; */
}

.fancy_title{
color: #F54641; 
margin-left: 11%;
font-family: "source-code-pro",sans-serif !important;
font-weight: 100;
text-transform: uppercase !important;
}

.fancy_title span{
	display: inline-block !important;
	background-size: 400% !important;
	height: 33px !important;
}



@media (max-width: 500px) {
  .fancy_title {
    color: #F54641 !important; 
	margin-left: 4% !important;
	font-family: "source-code-pro",sans-serif !important;
	font-weight: 100;
	text-transform: uppercase !important;
  }
}

/* END FANCY TITLE */


/* END HEADER */
.nav-links {
	float:right;
	padding-top: 20px;
	margin-right: 110px;
}
.nav-links a {
	display: inline-block;
	font-size: 15.5px;
	margin: 10px;
	color: #FFF;
	font-weight: 500;
	border-bottom: 1px solid transparent;
	text-transform: uppercase;
}

.nav-links a:hover {
	border-bottom-color: #11A8A2;
	padding-bottom: 5px;
}

.nav-links a:active {
	border-bottom-color: #11A8A2;
	padding-bottom: 5px;
}

@media (max-width: 500px) {
  .nav-links{
    float:right;
	padding-top: 17px;
	margin-right: 130px;
  }
}

@media (max-width: 500px) {
  .nav-links a{
    display: inline-block;
	font-size: 15.5px;
	margin: 10px;
	color: #FFF;
	font-weight: 500;
	border-bottom: 1px solid transparent;
	text-transform: uppercase;
	text-align: center;
  }
}


/* Begin Footer */

.main-footer {
	height: auto !important;
	border-top: 0.075em solid #fff;
}

.john-waterman-link {
}

.footer-links {
	float:right;
	padding-top: 17px;
	margin-right: 110px;
}
.footer-links a {
	display: inline-block;
	font-size: 12.5px;
	margin: 10px;
	color: #FFF;
	font-weight: 500;
	border-bottom: 1px solid transparent;
	text-transform: uppercase;
}

.footer-links a:hover {
	border-bottom-color: #11A8A2;
	padding-bottom: 5px;
}

.main-footer h2 {
	font-size: 22px;
	color: #F54641;
	margin-left: 11%;
}

.main-footer p{
	color: #fff;
	font-size: 12px;
	margin-left: 11%;
	font-weight: 500;
}

@media (max-width: 500px) {
  .footer-links a{
  	display: inline-block;
	font-size: 15.5px;
	margin: 13px;
	color: #FFF;
	font-weight: 500;
	border-bottom: 1px solid transparent;
	text-transform: uppercase;
	}
}

@media (max-width: 500px) {
  .footer-links {
  	float:right;
	padding-top: 17px;
	margin-right: 160px;
	}
}

@media (max-width:500px) {
	.main-footer h2 {
		margin-left: 3%;
	}
}

@media (max-width:500px) {
	.main-footer p {
		margin-left: 3%;
	}
}



/* END FOOTER */

/* Begin Contact Form*/
.share-story {
	height: auto;
	background: #F0F2EB;
	/*background: url(http://subtlepatterns.com/patterns/light_grey.png);*/
	border-top: solid #fff 1px;
}


.story-form h1 {
color: #2B2B2B  !important; 
font-family: "source-code-pro",sans-serif !important;
font-weight: 100;
text-transform: uppercase !important;
text-align: center;
font-size: 30px;
}

.story-form label {
color: #333;
font-family: "source-code-pro",sans-serif !important;
}

.send-button {
	padding-left: 35px;
}

/* END CONTACT FORM */

 /*Begin Quote Section/*/
.aaron-quote {
	background: url('../images/background3.jpg');
	background-attachment: fixed;
	background-repeat:no-repeat;
	border-bottom: solid #F54641 1px;
	border-top: solid #F54641 1px;
}
	
.share-a-quote {
	color:#a8a8a8 !important;
	font-size: 23px !important;
	font-family: "source-code-pro", sans-serif !important;
	margin-bottom: 60px !important;
	font-weight: 100 !important;
	margin-top: -30px !important;
}

.share-a-quote a{
	color:  #11A8A2 !important;
}

.aaron-quote-transparent{
	/*height:565px;*/
	/*background: rgba(240,242,235, 0.75);*/
	background: rgba(34, 34, 34, 0.45);
	width:100%;
	padding-top: 100px;
}

.aaron-quote img{
	float:right;
	border-radius: 50px;
	width: 21%;
	margin-left: -31px;
}

@media (max-width: 500px) {
	.aaron-quote-transparent{
	/*height:565px;*/
	/*background: rgba(240,242,235, 0.75);*/
	background: rgba(34, 34, 34, 0.45);
	width:100%;
	padding-top: 100px;
	}
}

@media (max-width: 500px) {
  .aaron-quote {
    background: url('../images/background3small.jpg');
	background-attachment: fixed;
	background-repeat:no-repeat;
  }
}


.aaron-quote p{
	color: #D4D4D4;
	font-size: 27px;
	font-family: "source-code-pro", sans-serif;
	margin-bottom: 60px;
	font-weight: 100;
	margin-top: 60px;
}


.quote-credit{
	float:right;
	font-size: 24px !important;
	margin-top: -50px!important;
	color: #D4D4D4 !important;
}
/* END AARON'S QUOTE*/


.middle-quotes-transparent{
	/*background: rgba(240,242,235, 0.35);*/
	width: 100%;
	background: rgba(34, 34, 34, 0.45);
}

/*Begin Kris's Quote*/
.kris-quote-transparent{
	/*background: rgba(240,242,235, 0.75);*/
	background: rgba(34, 34, 34, 0.45);
	width:100%;
	padding-bottom: 100px;
}
/*END KRIS QUOTE*/

/*About Teddy Alternative Page*/
.about-teddy-header {
	font-family: "source-code-pro", sans-serif;
	font-weight: 100;
	/*color: #F54641;*/
	color: #2B2B2B;
	font-size: 28px;
	text-decoration: underline;
}

@media (max-width: 500px) {
	.about-teddy-header {
	font-family: "source-code-pro", sans-serif;
	font-weight: 100;
	/*color: #F54641;*/
	color: #2B2B2B;
	font-size: 28px;
	text-decoration: underline;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}
}

.about-teddy2 {
	background: url('../images/background5.jpg');
	background-attachment: fixed;
	background-repeat:no-repeat;
}

@media (max-width: 500px) {
	.about-teddy2 {
		background: url('../images/about-background-small.jpg');
		background-attachment: fixed;
		background-repeat:no-repeat;
	}
}

.about-teddy-transparent{
	/*height:565px;*/
	/*background: rgba(240,242,235, 0.75);*/
	background: rgba(250, 250, 243, 0.2);
	width:100%;
	padding-top: 75px;
}

.about-teddy2 p{
	color: #333!important;
	padding-top: 25px;
	color: #D4D4D4;
	font-size: 25px;
	font-family: "source-code-pro", sans-serif;
	font-weight: 100;
}

@media (max-width: 500px) {
	.about-teddy2 p{
	color: #333!important;
	padding-top: 25px;
	color: #D4D4D4;
	font-size: 25px;
	font-family: "source-code-pro", sans-serif;
	font-weight: 100;
	text-align: left;
	padding-left:15px;
	padding-right: 15px;
}
}

.about-source {
	font-size: 15px !important;
}

.about-source a{
	color:#333 !important;
}

.about-source a:hover {
	color:#D4D4D4 !important;
}

.top a {
	float:right;
	font-size: 15.5px;
	margin-bottom: 20px;
	color: #333!important;
	font-weight: 500;
	border-bottom: 1px solid transparent;
	text-transform: uppercase;
	margin-right: -86px;
}


@media (max-width: 500px) {
.top a {
	float:right;
	font-size: 15.5px;
	margin-bottom: 20px;
	color: #333!important;
	font-weight: 500;
	border-bottom: 1px solid transparent;
	text-transform: uppercase;
	margin-right: 0px;
}